/*global*/
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
*{
    margin:0;
    padding:0;
}
body{
    background-color:black;
    color:white;
    font-family: 'Lato', sans-serif;
}
img{
    max-width: 100%;
}


/*utilities*/

/*nav*/
nav.menu{
    display:flex;
    justify-content: space-between;
    align-items:center;
    background-color: white;
    height:42px;
}
nav.menu a{
    margin-right:20px;
}
img.logo-border{
    height:32px;
    padding-left:20px;
}
img.logo-complete{
    display:none;
}
a.link-login{
    text-transform: uppercase;
    color:black;
    font-weight: bold;
    font-size:12px;
    text-decoration: none;
    letter-spacing: 3px;
}
a.link-search{
    display:none;
}
a.link-news{
    display:none;
}
a.link-subs{
    text-transform: uppercase;
    background-color: black;
    color:white;
    font-weight: 400;
    font-size:12px;
    text-decoration: none;
    letter-spacing: 3px;
    padding:10px;
    transition: all 0.8s ease-in-out 0s;
    cursor:pointer;
}
.link-subs:hover{
    box-shadow: inset 300px 0 0 0 rgb(223, 174, 39);
    color: black;
    font-weight: 600;
}

a.link-menu{
    display:none;
}
a.link-arrows{
    color:black;
}

/*header*/
.header-title{
    text-transform: uppercase;
    text-align: center;
    font-size:45px;
    letter-spacing: 3px;
    margin-top: 50px;
    margin-bottom: 25px;
}
.header-info{
    text-align: center;
    font-size: 18px;
    font-weight: lighter;
    margin-bottom:25px;
    margin-right:auto;
    margin-left:auto;
}
    
.bar{ 
    background:rgb(223, 174, 39);
    align: center;
    width:5%;
    height:5px;
    margin-top:25px;
    margin-bottom:50px;
    margin-right:auto;
    margin-left:auto;
}
span {
	padding: 0 5px;
	box-shadow: inset 0 0 0 0 white;
	transition: all 0.5s ease-in-out 0s;
    text-decoration:underline;
    text-underline-offset: 2px;
    text-decoration-thickness:2px;
    text-decoration-color: rgb(223, 174, 39);
    cursor:pointer;
}
span:hover{
    box-shadow: inset 0 -300px 0 rgb(223, 174, 39);
        color: black;
        font-weight: 400;
}




